<template id="form-login">
    <section class="bg-primary d-flex justify-content-center align-items-center py-3 py-md-5 py-xl-8 min-vh-100 w-100">
        <div class="container">
            <div class="row gy-4 align-items-center justify-content-center">
                <div class="col-12 col-md-6 col-xl-7">
                    <div class="d-flex justify-content-center text-bg-primary">
                        <div class="col-12 col-xl-9">
                            <h1 class="text-center mb-4 fw-bold text-white">Almuerzi<span class="fw-light">Easy</span>
                            </h1>
                            <hr class="border-primary-subtle mb-4">
                            <h2 class="fs-2 fw-semibold mb-4">Descubre la Comodidad de AlmuerziEasy</h2>
                            <p class="lead mb-5">En AlmuerziEasy, explora deliciosos platos y realiza pedidos
                                fácilmente. Disfruta tus comidas favoritas en casa, ¡haz que cada almuerzo sea fácil
                                y
                                delicioso!</p>
                            <div class="text-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                    class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                                    <path
                                        d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-5">
                    <div class="card border-0 rounded-4">
                        <div class="card-body p-3 p-md-4 p-xl-5 h-100">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-4">
                                        <h2 class="text-center fw-semibold fs-2">Inicia sesión</h3>
                                            <p class="text-center">¿No tienes una cuenta? <button
                                                    class="bg-transparent border-0 text-decoration-underline text-primary"
                                                    onclick="showTemplate('register')">Regístrate</button>
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <form id="login-form">
                                <div class="row gy-3 overflow-hidden">
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="name@example.com" required>
                                            <label for="email" class="form-label">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" name="password" id="password"
                                                value="" placeholder="Password" required>
                                            <label for="password" class="form-label">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="remember_me"
                                                id="remember_me">
                                            <label class="form-check-label text-secondary" for="remember_me">
                                                Mantenme conectado
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg" type="submit">Inicia
                                                sesión</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex gap-2 gap-md-4 justify-content-center align-items-center mt-4">
                                        <a href="#!">¿Has olvidado tu contraseña?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>